[flake8]
ignore = 
    E741,
    W503,
    E203,
    D100,
    D401,
    D200,
    D205,
    D400,
    D301
max-line-length = 88
docstring-convention=numpy
exclude = 
    docs,
    setup.py
per-file-ignores =
    stumpy/__init__.py:D104
    build/lib/stumpy/__init__.py:D104
    tests/*:D101,D102,D103
    stumpy/cache.py:D414
